@import "~style";

$block-name: 'b-site';

.#{$block-name} {
	&__content {
		@include xy-grid-container();

		.row {
			@include xy-grid();
			@include xy-gutters($negative: true);
		}
	}

	&--main {
		background: url(m-bg.jpg);
		background-position: center;
		background-size: cover;
		height: 100vh;
		color: #fff;

		.b-top {
			color: #fff;

			a {
				color: #fff;
			}
		}

		a {
			color: #fff;
		}
	}
}
